---
name: "Coverage"
"on":
  push:
    branches: ["main"]
    paths-ignore:
      - '**.md'
      - '.wordlist.txt'
  pull_request:
    paths-ignore:
      - '**.md'
      - '.wordlist.txt'

env:
  CARGO_TERM_COLOR: always

jobs:
  tests-coverage:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Install build dependencies
        run: bash .github/workflows/install-dependencies
      - name: Setup toolchain (coverage)
        uses: dtolnay/rust-toolchain@nightly
      - name: Install cargo-tarpaulin (coverage)
        run: cargo install cargo-tarpaulin
      - name: Run tests (coverage)
        run: cargo tarpaulin -o Json
        env:
          RUSTFLAGS: --cfg procmacro2_semver_exempt
      - name: Output show (coverage)
        run: |
          set -eu
          coverage=$(cat tarpaulin-report.json | jq .coverage | egrep -o "[0-9]{1,2}\.{1}[0-9]{0,2}" | sed 's/ //g')
          echo "COVERAGE:${coverage}"
        env:
          COV_REPORT_DIR: ${{ steps.coverage.outputs.report }}
      - name: Report in PR status for the current commit (coverage)
        if: github.ref_name != 'main'
        run: |
          set -eu
          total=$(cat tarpaulin-report.json | jq .coverage | egrep -o "[0-9]{1,2}\.{1}[0-9]{0,2}" | sed 's/ //g')
          echo "TOTAL:${total}"
          curl -s "https://sarroutbi:${GITHUB_TOKEN}@api.github.com/repos/sarroutbi/koji-retriever/statuses/${COMMIT_SHA}"\
            -d "{\"state\": \"success\",\"target_url\": \"https://github.com/sarroutbi/koji-retriever/pull/${PULL_NUMBER}/checks?check_run_id=${RUN_ID}\",\"description\": \"${total}%\",\"context\": \"Measured coverage\"}"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          COMMIT_SHA: ${{ github.event.pull_request.head.sha }}
          RUN_ID: ${{ github.run_id }}
          PULL_NUMBER: ${{ github.event.pull_request.number }}
          COV_REPORT_DIR: ${{ steps.coverage.outputs.report }}
