---
name: "Lint"

"on":
  push:
    branches: ["main"]
    paths-ignore:
      - '**.md'
      - '.wordlist.txt'
  pull_request:
    paths-ignore:
      - '**.md'
      - '.wordlist.txt'

env:
  CARGO_TERM_COLOR: always

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Install build dependencies
        run: bash .github/workflows/install-dependencies
      - name: Setup toolchain (coverage)
        uses: dtolnay/rust-toolchain@nightly
        with:
          components: clippy, rustfmt
      - name: Clippy
        run: cargo clippy --verbose -- --deny "warnings"
      - name: Check formatting
        run: cargo fmt --all -- --check
