---
name: "Spellcheck"
"on":
  push:
    branches: ["main"]
  pull_request:

jobs:
  check-spelling:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Check Spelling
        uses: rojopolis/spellcheck-github-actions@0.54.0
        with:
          config_path: .spellcheck.yaml
          task_name: Markdown
